.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

.header-logo {
  height: 25px;
  object-fit: contain;
  margin-left: 20px;
}

.header-input {
  display: flex;
  align-items: center;
  width: 40%;
  border: 1px solid lightgray;
}

.header-inputButton {
  width: 50px !important;
  background-color: #fafafa;
  border-left: 1px solid lightgray;
  color: gray;
}

.headerRight {
  display: flex;
  align-items: center;
}

.header-input > input {
  flex: 1;
  border: none;
}

.header-icon {
  margin-right: 10px;
}

.header-input > input:focus {
  outline-width: 0;
}
.mic-icon {
  margin: 0;
  padding: 0;
  line-height: 1;
  text-align: center;
  margin-left: -250px;
  margin-right: 0;
  color: gray;
}
